Repository AnselmMarie/pokemon-pet-shop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --write

.lintstagedrc.json:

{
  "./apps/**/*.ts(x)": [
    "prettier --write",
    "eslint --fix"
  ],
  "./libs/**/*.ts(x)": [
    "prettier --write",
    "eslint --fix"
  ],
  "./apps/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
    "./libs/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "./apps/**/*.css": ["prettier --write", "stylelint --write"],
  "./libs/**/*.css": ["prettier --write", "stylelint --write"]
}

fixing issues • changes to pokemon features
  libs/features/pokemon/src/lib/pokemonList/index.ts
  libs/features/pokemon/src/lib/pokemonList/index.tsx
  libs/features/pokemon/src/lib/temp.mock/pokemon.detail.json
  libs/features/pokemon/src/lib/temp.mock/pokemon.json
  libs/features/pokemon/src/lib/temp.mock/pokemon.species.json
  remotes/homepage/rspack.config.ts
  remotes/homepage/src/router.tsx
  remotes/homepage/tsconfig.app.json
  remotes/homepage/tsconfig.json
Due: none

building out services and types
  libs/features/pokemon/src/lib/pokemon.spec.tsx
  libs/features/pokemon/src/lib/pokemon.tsx
  libs/services/pokemon-api/.babelrc
  libs/services/pokemon-api/README.md
  libs/services/pokemon-api/eslint.config.mjs
  libs/services/pokemon-api/jest.config.ts
  libs/services/pokemon-api/package.json
  libs/services/pokemon-api/src/index.ts
  libs/services/pokemon-api/src/lib/api.pokemon.service.ts
  libs/services/pokemon-api/src/lib/index.ts
  libs/services/pokemon-api/tsconfig.json
  libs/services/pokemon-api/tsconfig.lib.json
  libs/services/pokemon-api/tsconfig.spec.json
  libs/types/pokemon/detail/index.d.ts
  libs/types/pokemon/evolutionChain/index.d.ts
  libs/types/pokemon/index.d.ts
  libs/types/pokemon/species/index.d.ts
  libs/utils/apiClient/.babelrc
  libs/utils/apiClient/README.md
  libs/utils/apiClient/eslint.config.mjs
  libs/utils/apiClient/jest.config.ts
  libs/utils/apiClient/package.json
  libs/utils/apiClient/src/index.ts
  libs/utils/apiClient/src/lib/apiClient.const.native.ts
  libs/utils/apiClient/src/lib/apiClient.const.ts
  libs/utils/apiClient/src/lib/apiClient.ts
  libs/utils/apiClient/tsconfig.json
  libs/utils/apiClient/tsconfig.lib.json
  libs/utils/apiClient/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
  tsconfig.json
Due: none

Building out the pokemon ui and services
  AGENTS.md
  CLAUDE.md
  apps/api/src/api/pokemon/index.ts
  apps/api/src/api/pokemon/v1/const/default.prop.const.ts
  apps/api/src/api/pokemon/v1/controllers/pokemon.details.controller.ts
  apps/api/src/api/pokemon/v1/controllers/pokemon.list.controller.ts
  apps/api/src/api/pokemon/v1/controllers/pokemon.species.controller.ts
  apps/api/src/api/pokemon/v1/interface/pokemon.interface.ts
  apps/api/src/api/pokemon/v1/routes/pokemon.route.ts
  apps/api/src/api/pokemon/v1/services/pokemon.detail.service.ts
  apps/api/src/api/pokemon/v1/services/pokemon.evolution.chain.service.ts
  apps/api/src/api/pokemon/v1/services/pokemon.list.service.ts
  apps/api/src/api/pokemon/v1/services/pokemon.species.service.ts
  apps/api/src/main.ts
  apps/api/src/middleware/cache.middleware.ts
  apps/api/src/utils/err.format.response.util.ts
  apps/api/tsconfig.json
  apps/web/src/bootstrap.tsx
  libs/features/pokemon/src/lib/pokemonCard/index.ts
  libs/features/pokemon/src/lib/pokemonCard/pokemon.card.tsx
  libs/features/pokemon/src/lib/pokemonList/index.tsx
  libs/features/pokemon/src/lib/pokemonList/use.pokemon.list.logic.ts
  libs/features/pokemon/tsconfig.json
  libs/features/pokemon/tsconfig.lib.json
  libs/services/pokemon-api/src/lib/index.ts
  libs/ui/skeleton/src/index.ts
  libs/ui/skeleton/src/lib/skeleton.module.native.ts
  libs/ui/skeleton/src/lib/skeletonLoadData.util.ts
  libs/utils/apiClient/src/lib/apiClient.const.ts
  package.json
  pnpm-lock.yaml
  remotes/homepage/rspack.config.ts
  tsconfig.base.json
Due: none

Continue build out of pokemon feature
  libs/features/pokemon/src/lib/components/pokemon.ability.name/pokemon.ability.name.interface.ts
  libs/features/pokemon/src/lib/components/pokemon.ability.name/pokemon.ability.name.module.css
  libs/features/pokemon/src/lib/components/pokemon.ability.name/pokemon.ability.name.module.ts
  libs/features/pokemon/src/lib/components/pokemon.ability.name/pokemon.ability.name.tsx
  libs/features/pokemon/src/lib/components/pokemon.ability.name/pokemon.ability.type.map.util.ts
  libs/features/pokemon/src/lib/hooks/use.pokemon.type.logic.ts
  libs/features/pokemon/src/lib/pokemonCard/index.tsx
  libs/features/pokemon/src/lib/pokemonCard/pokemon.card.module.css
  libs/features/pokemon/src/lib/pokemonCard/pokemon.card.type.map.util.ts
  libs/features/pokemon/src/lib/pokemonCard/use.pokemon.card.logic.tsx
  libs/features/pokemon/tsconfig.json
  libs/features/pokemon/tsconfig.lib.json
  remotes/homepage/rspack.config.ts
Due: prettier --write, stylelint --write

adding custom functionality for ds-token configuration
  apps/web/src/index.html
  apps/web/tailwind.config.js
  libs/ds-tokens/build/semantic.tailwind.js
  libs/ds-tokens/project.json
  libs/ds-tokens/src/build-tokens.mjs
  libs/ds-tokens/src/build/semantic.tailwind.js
  libs/ds-tokens/src/tokens/design-tokens.tokens.json
  remotes/footer/tailwind.config.js
  remotes/header/tailwind.config.js
  remotes/homepage/tailwind.config.js
  remotes/sideCart/tailwind.config.js
Due: prettier --write, eslint --fix

minor comments for tailwind configuration
  libs/ds-tokens/src/build-tokens.mjs
Due: none

building out the pokemon modal
  apps/web/src/index.html
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemon.detail.modal.module.css
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemon.detail.modal.module.ts
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemon.detail.modal.view.tsx
  libs/features/pokemon/tsconfig.json
  libs/features/pokemon/tsconfig.lib.json
  libs/ui/scrollWrapper/.babelrc
  libs/ui/scrollWrapper/README.md
  libs/ui/scrollWrapper/eslint.config.mjs
  libs/ui/scrollWrapper/jest.config.ts
  libs/ui/scrollWrapper/package.json
  libs/ui/scrollWrapper/src/index.ts
  libs/ui/scrollWrapper/src/lib/scroll.wrapper.module.css
  libs/ui/scrollWrapper/src/lib/scrollWrapper.native.tsx
  libs/ui/scrollWrapper/src/lib/scrollWrapper.tsx
  libs/ui/scrollWrapper/tsconfig.json
  libs/ui/scrollWrapper/tsconfig.lib.json
  libs/ui/scrollWrapper/tsconfig.spec.json
  libs/ui/tag/.babelrc
  libs/ui/tag/README.md
  libs/ui/tag/eslint.config.mjs
  libs/ui/tag/jest.config.ts
  libs/ui/tag/package.json
  libs/ui/tag/src/index.ts
  libs/ui/tag/tsconfig.json
  libs/ui/tag/tsconfig.lib.json
  libs/ui/tag/tsconfig.spec.json
Due: prettier --write, eslint --fix, stylelint --write

Building out the Pokemon Modal
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemon.detail.modal.view.tsx
  libs/features/pokemon/src/lib/modalPokemonDetail/use.pokemon.detail.modal.logic.ts
  libs/features/pokemon/tsconfig.json
  libs/features/pokemon/tsconfig.lib.json
  libs/ui/tag/src/index.ts
  libs/ui/tag/src/lib/tagItem/index.ts
  libs/ui/tag/src/lib/tagItem/pokemon.ability.type.map.util.ts
  libs/ui/tag/src/lib/tagItem/tag.item.module.css
  libs/ui/tag/src/lib/tagItem/tag.item.module.native.ts
  libs/ui/tag/src/lib/tagItem/tagItem.enum.ts
  libs/ui/tag/src/lib/tagItem/tagItem.interface.ts
  libs/ui/tag/src/lib/tagItem/tagItem.tsx
  libs/ui/tag/src/lib/tagItem/tagItemMap.util.ts
  libs/ui/tag/src/lib/tagWrapper/index.ts
  libs/ui/tag/src/lib/tagWrapper/tag.wrapper.interface.ts
  libs/ui/tag/src/lib/tagWrapper/tag.wrapper.module.css
  libs/ui/tag/src/lib/tagWrapper/tag.wrapper.module.native.ts
  libs/ui/tag/src/lib/tagWrapper/tagWrapper.tsx
  libs/ui/tag/tsconfig.json
  libs/ui/tag/tsconfig.lib.json
Due: prettier --write, stylelint --write

Updates to modal • code cleanup
  libs/features/header/src/lib/header/index.tsx
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemon.detail.modal.view.tsx
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemonDetailModal.tsx
  libs/features/pokemon/src/lib/pokemonCard/index.tsx
  libs/features/pokemon/src/lib/pokemonCard/pokemon.card.interface.ts
  libs/features/pokemon/src/lib/pokemonList/index.tsx
  libs/features/pokemon/tsconfig.json
  libs/features/pokemon/tsconfig.lib.json
  libs/ui/modal/src/lib/index.tsx
  libs/ui/modal/src/lib/modalBreakdown.tsx
  libs/ui/modal/tsconfig.json
  libs/ui/modal/tsconfig.lib.json
  libs/ui/tag/src/lib/tagItem/tag.item.module.native.ts
  libs/ui/tag/src/lib/tagWrapper/tag.wrapper.module.native.ts
  remotes/homepage/rspack.config.ts
  tsconfig.json
Due: none

Continue build out of Pokemon Modal
  libs/features/pokemon/src/lib/components/pokemon.ability.name/pokemon.ability.name.interface.ts
  libs/features/pokemon/src/lib/components/pokemon.ability.name/pokemon.ability.name.tsx
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemon.detail.modal.module.css
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemonDetailModal.tsx
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemonDetailModalBody.tsx
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemonDetailModalHeader.tsx
  libs/features/pokemon/src/lib/modalPokemonDetail/use.pokemon.detail.modal.logic.ts
  libs/features/pokemon/src/lib/pokemonCard/index.tsx
  libs/features/pokemon/src/lib/pokemonList/use.pokemon.list.logic.ts
  libs/features/pokemon/tsconfig.json
  libs/features/pokemon/tsconfig.lib.json
  libs/services/pokemon-api/src/index.ts
  libs/services/pokemon-api/src/lib/index.ts
  libs/services/pokemon-api/src/lib/list.ts
  libs/services/pokemon-api/src/lib/pricing.ts
  libs/services/pokemon-api/src/lib/species.ts
  libs/types/pokemon/pricing/index.d.ts
  libs/ui/icon/src/lib/icon.tsx
  libs/ui/modal/src/lib/index.tsx
  libs/ui/modal/src/lib/modalBreakdown.tsx
  libs/utils/pricing/.babelrc
  libs/utils/pricing/README.md
  libs/utils/pricing/eslint.config.mjs
  libs/utils/pricing/jest.config.ts
  libs/utils/pricing/package.json
  libs/utils/pricing/src/index.ts
  libs/utils/pricing/src/lib/pricingFormat.ts
  libs/utils/pricing/src/lib/pricingFormatCountry.ts
  libs/utils/pricing/tsconfig.json
  libs/utils/pricing/tsconfig.lib.json
  libs/utils/pricing/tsconfig.spec.json
  remotes/homepage/rspack.config.ts
  tsconfig.json
Due: prettier --write, stylelint --write

Pokemon pricing is now working
  apps/api/src/api/pokemon/v1/controllers/pricing.controller.ts
  apps/api/src/api/pokemon/v1/database/pricing.database.ts
  apps/api/src/api/pokemon/v1/routes/pokemon.route.ts
  apps/api/src/api/pokemon/v1/services/pricing.service.ts
  apps/api/tsconfig.app.json
  libs/services/pokemon-api/src/lib/pricing.ts
Due: none

Fixing poke icon issues
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemonDetailModalBody.tsx
  libs/features/pokemon/tsconfig.lib.json
  libs/types/global/index.d.ts
  libs/ui/iconPokeType/src/lib/icon.poke.type.util.ts
  libs/ui/iconPokeType/tsconfig.lib.json
Due: none

Moving back to Jotai • Creating remote atom theme
  apps/web/module-federation.config.ts
  libs/features/atomTheme/src/types/remote-modules.d.ts
  libs/features/pokemon/src/lib/pokemonCard/index.tsx
  libs/features/pokemon/src/types/remote-modules.d.ts
  libs/features/switchTheme/src/lib/switchTheme.interface.ts
  libs/features/switchTheme/src/lib/switchTheme.tsx
  libs/features/switchTheme/src/types/remote-modules.d.ts
  libs/features/switchTheme/tsconfig.json
  remotes/atomTheme-e2e/eslint.config.mjs
  remotes/atomTheme-e2e/package.json
  remotes/atomTheme-e2e/playwright.config.ts
  remotes/atomTheme-e2e/project.json
  remotes/atomTheme-e2e/src/example.spec.ts
  remotes/atomTheme-e2e/tsconfig.json
  remotes/atomTheme/eslint.config.mjs
  remotes/atomTheme/jest.config.ts
  remotes/atomTheme/module-federation.config.ts
  remotes/atomTheme/package.json
  remotes/atomTheme/project.json
  remotes/atomTheme/rspack.config.prod.ts
  remotes/atomTheme/rspack.config.ts
  remotes/atomTheme/src/assets/.gitkeep
  remotes/atomTheme/src/favicon.ico
  remotes/atomTheme/src/index.html
  remotes/atomTheme/src/main.ts
  remotes/atomTheme/src/remote-entry.ts
  remotes/atomTheme/src/state/createStorage.native.ts
  remotes/atomTheme/src/state/createStorage.ts
  remotes/atomTheme/src/state/inStoreStorage.ts
  remotes/atomTheme/src/state/index.ts
  remotes/atomTheme/tsconfig.app.json
  remotes/atomTheme/tsconfig.json
  remotes/atomTheme/tsconfig.spec.json
  remotes/footer/module-federation.config.ts
  remotes/homepage/module-federation.config.ts
  remotes/storeTheme/src/app/nx-welcome.tsx
  tsconfig.json
Due: none

Removing the features atomTheme
  libs/features/atomTheme/.babelrc
  libs/features/atomTheme/README.md
  libs/features/atomTheme/eslint.config.mjs
  libs/features/atomTheme/jest.config.ts
  libs/features/atomTheme/package.json
  libs/features/atomTheme/src/index.ts
  libs/features/atomTheme/src/lib/createStorage.native.ts
  libs/features/atomTheme/src/lib/createStorage.ts
  libs/features/atomTheme/src/lib/inStoreStorage.ts
  libs/features/atomTheme/src/lib/index.ts
  libs/features/atomTheme/src/types/remote-modules.d.ts
  libs/features/atomTheme/tsconfig.json
  libs/features/atomTheme/tsconfig.lib.json
  libs/features/atomTheme/tsconfig.spec.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

Adding the cart service
  apps/api/src/api/cart/index.ts
  apps/api/src/api/cart/v1/controllers/delete.cart.controller.ts
  apps/api/src/api/cart/v1/controllers/get.cart.controller.ts
  apps/api/src/api/cart/v1/controllers/update.cart.controller.ts
  apps/api/src/api/cart/v1/database/cart.database.ts
  apps/api/src/api/cart/v1/interface/cart.interface.ts
  apps/api/src/api/cart/v1/routes/cart.route.ts
  apps/api/src/api/cart/v1/services/delete.cart.service.ts
  apps/api/src/api/cart/v1/services/get.cart.service.ts
  apps/api/src/api/cart/v1/services/update.cart.service.ts
  apps/api/src/api/pokemon/v1/services/pokemon.detail.service.ts
  apps/api/src/api/pokemon/v1/services/pokemon.evolution.chain.service.ts
  apps/api/src/api/pokemon/v1/services/pokemon.list.service.ts
  apps/api/tsconfig.app.json
  apps/api/tsconfig.json
  libs/types/cart/index.d.ts
  libs/types/pokemon/detail/index.d.ts
  libs/types/pokemon/evolutionChain/index.d.ts
  package.json
  pnpm-lock.yaml
Due: none

created cart api for frontend
  libs/services/cart-api/.babelrc
  libs/services/cart-api/README.md
  libs/services/cart-api/eslint.config.mjs
  libs/services/cart-api/jest.config.ts
  libs/services/cart-api/package.json
  libs/services/cart-api/src/index.ts
  libs/services/cart-api/src/lib/cart.mutate.service.ts
  libs/services/cart-api/src/lib/cart.query.service.ts
  libs/services/cart-api/tsconfig.json
  libs/services/cart-api/tsconfig.lib.json
  libs/services/cart-api/tsconfig.spec.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

updates to get the cart services/api to work correctly
  apps/api/src/api/cart/index.ts
  apps/api/src/main.ts
  apps/api/webpack.config.js
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemonDetailModalBody.tsx
  libs/features/pokemon/tsconfig.json
  libs/features/pokemon/tsconfig.lib.json
  remotes/homepage/rspack.config.ts
Due: none

modal cart is now opening and closing
  libs/features/header/src/lib/header/header.module.css
  libs/features/header/src/lib/header/index.tsx
  libs/features/header/src/lib/header/use.header.logic.ts
  libs/features/header/tsconfig.json
  libs/features/header/tsconfig.lib.json
  libs/features/modalCart/src/index.ts
  libs/features/modalCart/src/lib/cart.modal.content.scroll.native.tsx
  libs/features/modalCart/src/lib/cart.modal.content.scroll.tsx
  libs/features/modalCart/src/lib/cart.modal.item.tsx
  libs/features/modalCart/src/lib/cart.modal.module.css
  libs/features/modalCart/src/lib/cart.modal.module.native.ts
  libs/features/modalCart/src/lib/index.tsx
  libs/features/modalCart/src/lib/use.cart.modal.item.logic.ts
  libs/features/modalCart/src/lib/use.cart.modal.logic.ts
  libs/features/modalCart/tsconfig.json
  libs/features/modalCart/tsconfig.lib.json
  libs/features/pokemon/src/lib/modalPokemonDetail/index.ts
  libs/ui/modal/src/lib/modalBreakdown.tsx
  remotes/header/rspack.config.ts
Due: prettier --write, stylelint --write

fixing issue for cart modal
  apps/api/src/api/cart/v1/services/update.cart.service.ts
  libs/features/modalCart/src/lib/cart.modal.item.tsx
  libs/features/modalCart/src/lib/cart.modal.module.css
  libs/features/modalCart/src/lib/index.tsx
  libs/features/modalCart/tsconfig.json
  libs/features/modalCart/tsconfig.lib.json
  libs/ui/modal/src/lib/index.tsx
  libs/ui/modal/src/lib/modalScroll.tsx
  libs/ui/scrollWrapper/src/lib/scrollWrapper.tsx
Due: prettier --write, stylelint --write

got nav modal working • fixed pokemon list not fetching new pokemon
  libs/features/header/src/lib/header/index.tsx
  libs/features/header/src/lib/modalMobileNav/nav.mobile.module.css
  libs/features/header/src/lib/modalMobileNav/nav.mobile.module.ts
  libs/features/header/src/lib/modalMobileNav/nav.mobile.tsx
  libs/features/header/tsconfig.json
  libs/features/header/tsconfig.lib.json
  libs/features/pokemon/src/lib/pokemonList/index.tsx
  libs/features/pokemon/src/lib/pokemonList/use.pokemon.list.logic.ts
  libs/services/pokemon-api/src/lib/list.ts
Due: prettier --write, stylelint --write

updating styles for poke cards
  libs/features/pokemon/src/lib/components/pokemon.ability.name/pokemon.ability.name.tsx
  libs/features/pokemon/src/lib/pokemonCard/index.tsx
  libs/features/pokemon/src/lib/pokemonCard/pokemon.card.module.css
  libs/ui/button/src/lib/button.tsx
  libs/ui/card/src/lib/card.tsx
Due: prettier --write, stylelint --write

styling poke card
  libs/features/pokemon/src/lib/components/pokemon.ability.name/pokemon.ability.type.map.util.ts
Due: none

cart modal updates • code cleanup
  libs/features/modalCart/src/lib/cart.modal.item.tsx
  libs/features/modalCart/src/lib/index.tsx
  libs/features/pokemon/src/lib/hooks/use.pokemon.type.logic.ts
  libs/features/pokemon/src/lib/hooks/use.pokemon.type.ts
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemonDetailModal.tsx
  libs/features/pokemon/src/lib/pokemonCard/index.tsx
  libs/ui/modal/src/lib/index.tsx
  libs/ui/modal/src/lib/modalBreakdown.tsx
  libs/ui/modal/src/lib/modalScroll.tsx
  tsconfig.json
Due: none

Fixing some issues with cart modal • turning hook into a utility function
  libs/features/modalCart/src/lib/cart.modal.item.tsx
  libs/features/modalCart/src/lib/index.tsx
  libs/features/modalCart/tsconfig.json
  libs/features/modalCart/tsconfig.lib.json
  libs/features/pokemon/src/lib/hooks/use.pokemon.type.ts
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemonDetailModal.tsx
  libs/features/pokemon/src/lib/pokemonCard/index.tsx
  libs/features/pokemon/tsconfig.json
  libs/features/pokemon/tsconfig.lib.json
  libs/utils/pokeType/.babelrc
  libs/utils/pokeType/README.md
  libs/utils/pokeType/eslint.config.mjs
  libs/utils/pokeType/jest.config.ts
  libs/utils/pokeType/package.json
  libs/utils/pokeType/src/index.ts
  libs/utils/pokeType/src/lib/getPokeTypePrefixClass.ts
  libs/utils/pokeType/tsconfig.json
  libs/utils/pokeType/tsconfig.lib.json
  libs/utils/pokeType/tsconfig.spec.json
  remotes/header/rspack.config.ts
  remotes/homepage/rspack.config.ts
  tsconfig.json
Due: none

token update • cart model style updates
  libs/ds-tokens/build/semantic.tailwind.js
  libs/ds-tokens/src/build/semantic.tailwind.js
  libs/ds-tokens/src/tokens/design-tokens.tokens.json
  libs/features/modalCart/src/lib/cart.modal.item.tsx
  libs/features/modalCart/src/lib/cart.modal.type.map.util.ts
  libs/features/modalCart/src/lib/index.tsx
  libs/ui/icon/src/lib/icon.tsx
  libs/ui/modal/src/lib/index.tsx
Due: none

various fixes
  libs/features/modalCart/src/lib/cart.modal.item.tsx
  libs/features/pokemon/src/lib/pokemonCard/pokemon.card.type.map.util.ts
  libs/features/pokemon/src/lib/pokemonList/index.tsx
  libs/ui/modal/src/lib/index.tsx
Due: none

code cleanup • styling updates for pokemon modal
  apps/api/src/api/pokemon/v1/controllers/pokemon.list.controller.ts
  libs/features/modalCart/src/lib/index.tsx
  libs/features/pokemon/src/lib/components/pokemon.ability.name/pokemon.ability.name.tsx
  libs/features/pokemon/src/lib/modalPokemonDetail/components/half.circle/half.circle.module.ts
  libs/features/pokemon/src/lib/modalPokemonDetail/components/half.circle/half.circle.tsx
  libs/features/pokemon/src/lib/modalPokemonDetail/components/half.circle/index.ts
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemon.detail.modal.module.css
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemon.detail.type.map.util.ts
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemonDetailModalBody.tsx
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemonDetailModalHeader.tsx
  libs/features/pokemon/src/lib/pokemonCard/index.tsx
  libs/ui/button/src/lib/button.tsx
  libs/ui/image/src/lib/image.tsx
  libs/ui/modal/src/lib/index.tsx
  libs/ui/tag/src/lib/tagItem/pokemon.ability.type.map.util.ts
  libs/ui/tag/src/lib/tagItem/pokemon.tag.type.map.util.ts
  libs/ui/tag/src/lib/tagItem/tagItem.interface.ts
  libs/ui/tag/src/lib/tagItem/tagItem.tsx
  libs/ui/tag/src/lib/tagWrapper/tagWrapper.tsx
Due: prettier --write, stylelint --write

code cleanup • Fixing minor issues • styling fixes
  libs/features/header/src/lib/header/index.tsx
  libs/features/header/src/lib/modalMobileNav/nav.mobile.tsx
  libs/features/pokemon/src/lib/components/pokemon.ability.name/pokemon.ability.name.tsx
  libs/features/pokemon/src/lib/pokemonCard/index.tsx
  libs/features/pokemon/src/lib/pokemonCard/pokemon.card.type.map.util.ts
  libs/features/pokemon/src/lib/pokemonList/index.tsx
  libs/ui/button/src/lib/button.element.tsx
  libs/ui/tag/src/lib/tagItem/pokemon.tag.type.map.util.ts
  libs/ui/tag/src/lib/tagItem/tagItem.tsx
Due: none

more styling changes
  apps/web/src/index.html
  libs/features/header/src/lib/header/index.tsx
  libs/features/header/src/lib/modalMobileNav/nav.mobile.tsx
  libs/features/modalCart/src/lib/cart.modal.item.tsx
  libs/features/modalCart/src/lib/index.tsx
  libs/features/pokemon/src/lib/pokemonCard/index.tsx
  libs/features/pokemon/src/lib/pokemonList/index.tsx
  libs/ui/modal/src/lib/modalBreakdown.tsx
  libs/ui/switch/src/lib/switch.tsx
  libs/ui/tag/src/lib/tagItem/pokemon.tag.type.map.util.ts
Due: prettier --write, eslint --fix

cleanup
  libs/ui/switch/src/lib/switch.tsx
Due: none

Fixing a styling issue on the pokemon modal
  libs/features/pokemon/src/lib/modalPokemonDetail/pokemon.detail.type.map.util.ts
Due: none

code updates in the api folder
  apps/api/src/features/pokemon/constants/index.ts
  apps/api/src/features/pokemon/controllers/pokemon.list.controller.ts
  apps/api/src/features/pokemon/services/pokemon.list.service.ts
  apps/api/src/shared/constants/httpCodes.ts
  libs/features/footer/src/lib/index.tsx
Due: none

refactoring the api directory structure
  apps/api/src/app.ts
  apps/api/src/config/cors.ts
  apps/api/src/config/index.ts
  apps/api/src/database/repositories/cart.ts
  apps/api/src/database/repositories/index.ts
  apps/api/src/database/repositories/pokemon.ts
  apps/api/src/features/cart/cart.routes.ts
  apps/api/src/features/cart/controllers/delete-cart.controller.ts
  apps/api/src/features/cart/controllers/get-cart.controller.ts
  apps/api/src/features/cart/controllers/update-cart.controller.ts
  apps/api/src/features/cart/services/delete-cart.service.ts
  apps/api/src/features/cart/services/get-cart.service.ts
  apps/api/src/features/cart/services/get.cart.service.ts
  apps/api/src/features/cart/services/update-cart.service.ts
  apps/api/src/features/pokemon/controllers/pokemon-details.controller.ts
  apps/api/src/features/pokemon/controllers/pokemon-list.controller.ts
  apps/api/src/features/pokemon/controllers/pokemon-species.controller.ts
  apps/api/src/features/pokemon/controllers/pricing.controller.ts
  apps/api/src/features/pokemon/pokemon.routes.ts
  apps/api/src/features/pokemon/services/pokemon-detail.service.ts
  apps/api/src/features/pokemon/services/pokemon-evolution-chain.service.ts
  apps/api/src/features/pokemon/services/pokemon-list.service.ts
  apps/api/src/features/pokemon/services/pokemon-species.service.ts
  apps/api/src/features/pokemon/services/pricing.service.ts
  apps/api/src/server.ts
  apps/api/src/shared/middleware/cache.ts
  apps/api/src/shared/middleware/error.ts
  apps/api/src/shared/middleware/index.ts
  apps/api/src/shared/types/express.d.ts
  apps/api/src/shared/utils/logger.ts
  package.json
  pnpm-lock.yaml
Due: none
